.Label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
  width: 100%;
  min-height: 1.2rem;
}

.Input {
  font-size: 1.2rem;
  margin: 0.4rem 0 0.8rem;
  padding: 0.8rem;
  width: 100%;
}
